= render_panel_for @product

= render @product

- if @product.is_commentable or signed_in_as_admin?
  .comments
    %h3= t('bicycle_cms/comments.main.bicycle_cms/comments')
    = render(@product.comments) || t('general.messages.empty')

  =#XYZ render 'bicycle_cms/comments/new'
