body {
  font-size: 11pt;
  font-family: Verdana serif;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  margin: 10px;
  padding: auto;
}

a {
  &:link, &:visited {
    color: #888;
    text-decoration: underline;
  }
  &:hover, &:active {
    color: #ccc;
    text-decoration: underline;
  }
}

#header {
  height: 100px;
  background: url('/images/mail-header-bg.png') repeat-x;
  padding-top: 25px;
  text-align: center;
}

#main {
  margin: 25px 0 50px 0;
  padding: 5px 25px 5px 50px;

  p {
    text-align: left;
    margin-top: 15px;
    padding: 15px 100px 15px 15px;
    background: #eee;
  }
}

#footer {
  clear: both;
  padding: 25px;
  border-top: solid 1px gray;
  background: #dcf;
}

.main_description {
  font-weight: bold;
}
