= semantic_form_for category do |form|
  = form.actions do
    = form.action :edit, as: :panel_link
    = form.action :destroy, as: :panel_link
    - # TODO Создание статьиhttp://orhidea777.livejournal.com/53829.html
