#user_block.info
  = t('bicycle_cms/users.main.not_signed_in')
  = link_to t('bicycle_cms/users.actions.signin'), new_user_session_path
  = link_to t('bicycle_cms/users.actions.signup'), new_user_path
